header {
  width: 70%;
  height: 3rem;
  margin: auto;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

header h1 {
  color: #e0de1b;
  font-size: 3rem;
}

.navButtonList {
  height: 3rem;
}
