.content {
	position: fixed;
	background: #fff;
	width: 60%;
	min-width: calc(250px + 5rem);
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-overflow-scrolling: touch;
	border-radius: 1rem;
	outline: none;
	padding: 0.8rem;
	z-index: 5;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(161, 161, 161, 0.45);
	z-index: 5;
}
