.myPageWrapper {
  width: 100%;
  padding-top: 2rem;
}

.myPageWrapper .tabButton button {
  width: 50%;
  height: 3rem;
  line-height: 3rem;
  border-radius: 1rem 2rem 0 0;
  color: #999;
  font-weight: 800;
}

.myPageWrapper .tabButton button:hover {
  background: #282828;
  color: #fff;
}

.myPageWrapper .trueTab {
  color: #282828;
  border-bottom: 2px solid #282828;
}

.myPageWrapper .tabMenu {
  padding: 10px;
}

.myPageWrapper .RequestContainer {
  padding: 10px 0;
}

.myPageWrapper .RequestContainer .header {
  width: 96%;
  margin: auto;
}

.myPageWrapper .RequestContainer ul {
  width: 96%;
  height: auto;
  min-height: 20rem;
  margin: 1rem auto 10px;
  background: #fff;
  padding-top: 5px;
}

.myPageWrapper .RequestContainer .header,
.myPageWrapper .RequestContainer ul .requestList {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.myPageWrapper .RequestContainer .header p {
  display: block;
  border-right: 1px solid #999;
  width: 25%;
  text-align: center;
}

.myPageWrapper .RequestContainer .header p:last-child {
  border: none;
}

.myPageWrapper .RequestContainer ul .requestList {
  height: 2.5rem;
  line-height: 2.5rem;
  border-bottom: 1px dashed #999;
  cursor: pointer;
}

.myPageWrapper .RequestContainer ul .requestList p {
  text-align: center;
  display: block;
  width: 25%;
  height: 100%;
}

.myPageWrapper .RequestContainer ul .requestList p:last-child {
  border: none;
}

.RequestContainer .noRequest {
  width: 100%;
  text-align: center;
  height: 20rem;
  line-height: 20rem;
}
