.myPageWrapper {
  width: 100%;
  padding-top: 2rem;
}

.myPageWrapper .tabButton button {
  width: 50%;
  height: 3rem;
  line-height: 3rem;
  border-radius: 1rem 2rem 0 0;
  background: #9e9e9e;
  color: #fff;
  font-weight: 800;
  box-shadow: inset 2px 4px 15px #7d7d7d, inset -2px -4px 15px #bfbfbf;
}

.myPageWrapper .tabButton .trueTab {
  background: #282828;
  box-shadow: none;
  color: #fff;
}

.myPageWrapper .tabMenu {
  width: 100%;
  padding: 10px;
  background: #282828;
}

.myPageWrapper .RequestContainer {
  padding: 10px 0;
}

.myPageWrapper .RequestContainer .header {
  border-bottom: 1px solid #999;
  width: 96%;
  margin: auto;
}

.myPageWrapper .RequestContainer .header,
.myPageWrapper .RequestContainer ul .requestList {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  align-items: stretch;
}

.myPageWrapper .RequestContainer .header p {
  display: block;
  border-right: 1px solid #999;
  width: 25%;
  text-align: center;
  color: #fff;
}

.myPageWrapper .RequestContainer .header p:last-child {
  border: none;
}

.myPageWrapper .RequestContainer ul {
  width: 96%;
  height: 30rem;
  margin: 1rem auto 0;
  background: #fff;
}

.myPageWrapper .RequestContainer ul .requestList {
  height: 2.5rem;
  line-height: 2.5rem;
  border-bottom: 1px dashed #999;
  cursor: pointer;
}

.myPageWrapper .RequestContainer ul .requestList p {
  text-align: center;
  display: block;
  width: 25%;
  height: 100%;
}

.myPageWrapper .RequestContainer ul .requestList p:last-child {
  border: none;
}

.RequestContainer .noRequest {
  width: 100%;
  text-align: center;
  height: 30rem;
  line-height: 30rem;
}
